<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/phdl_utils/src/phdl_utils/Xilinx2PHDL.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="phdl_utils.Xilinx2PHDL"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="./test_input/fmcw_fpga_pad.csv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="phdl_utils"/>
</launchConfiguration>
